body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e8f5e9;
    padding-top: 50px;
}

h1 {
    color: #2e7d32;
}

#plant {
    font-size: 100px;
    margin: 20px;
}

button {
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.05);
}
.progress-container {
    width: 250px;
    height: 25px;
    background-color: #ddd;
    border-radius: 20px;
    margin: 20px auto;
    overflow: hidden;
}

#progressBar {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s;
}
